{% extends 'base.html.twig' %}

{% block title %}Personnages list{% endblock %}

{% block body %}
    <div class="filtre"> </div>

    <div class="">
        {% for personnage in personnages %}
            <a href="{{ path('app_personnages_show', {'id': personnage.id}) }}">
                <div class="{{ personnage.element.element }}">
                <img src="{{ asset('images/icon/' ~ personnage.nomPersonnage|replace({' ': '_'}) ~ '.jpg') }}">
                    <p> {{ personnage.nomPersonnage }}
                    <div>
                        <img src="{{ asset('images/factions/' ~ personnage.faction.faction|replace({' ': '_'}) ~ '.jpg') }}" class= "w-24">
                        <img src="{{ asset('images/specialites/' ~ personnage.specialite.specialite|replace({' ': '_'}) ~ '.jpg') }}">
                        <img src="{{ asset('images/elements/' ~ personnage.element.element|replace({' ': '_'}) ~ '.jpg') }}">
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
