{% extends 'base.html.twig' %}

{% block title %}Phaethon Relic{% endblock %}

{% block body %}

    <!-- Section pour les derniers personnages sortis -->
    <div class="bg-black flex items-center justify-center p-8 my-8">
        <p class="text-center text-2xl text-white">Derniers personnages sortis</p>
    </div>

    <!-- Grid pour afficher les personnages -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full h-full">
        {% for personnage in personnages %}

            <a href="{{ path('app_personnages_show', {'id': personnage.id}) }}">
                <div class="{{ personnage.element.element }} flex w-full p-[2%]">
                    <div class="flex items-center justify-center min-h-full w-1/4">
                        <img src="{{ asset('images/icon/' ~ personnage.nomPersonnage|replace({' ': '_'}) ~ '.webp') }}" alt="Icône de {{ personnage.nomPersonnage }}" class="w-36 rounded-lg">
                    </div>

                    <div class="flex flex-col justify-between w-3/4">
                        <div class="flex items-center justify-center h-full w-full">
                            <p class="text-center text-xl text-white truncate">{{ personnage.nomPersonnage }}</p>
                        </div>

                        <div class="flex justify-around h-full w-full">
                            <div class="size-fit">
                                <img src="{{ asset('images/raretes/' ~ personnage.rarete.rarete|replace({' ': '_'}) ~ '.webp') }}" alt="Rareté {{ personnage.rarete.rarete }}" class="w-12 h-12">
                            </div>
                            <div class="size-fit">
                                <img src="{{ asset('images/specialites/' ~ personnage.specialite.specialite|replace({' ': '_'}) ~ '.webp') }}" alt="Spécialité {{ personnage.specialite.specialite }}" class="w-12 h-12">
                            </div>
                            <div class="size-fit">
                                <img src="{{ asset('images/factions/' ~ personnage.faction.faction|replace({' ': '_'}) ~ '.webp') }}" alt="Faction {{ personnage.faction.faction }}" class="w-12 h-12">
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>

    <!-- Section pour les derniers moteurs sortis -->
    <div class="bg-black flex items-center justify-center p-8 my-8">
        <p class="text-center text-2xl text-white">Derniers moteurs sortis</p>
    </div>

    <!-- Grid pour afficher les moteurs -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full h-full">
        {% for moteur in moteurs %}

            <a href="{{ path('app_moteurs_show', {'id': moteur.id}) }}">
                <div class="NoElements flex w-full p-[2%]">
                    <div class="flex items-center justify-center min-h-full w-1/4">
                        <img src="{{ asset('images/moteurs/' ~ moteur.nomMoteur|replace({' ': '_'}) ~ '.webp') }}" alt="Icône de {{ moteur.nomMoteur }}" class="w-36">
                    </div>

                    <div class="flex flex-col justify-between w-3/4">
                        <div class="flex items-center justify-center h-full w-full">
                            <p class="text-center text-xl text-white truncate">{{ moteur.nomMoteur }}</p>
                        </div>

                        <div class="flex justify-around h-full w-full">
                            <div class="size-fit">
                                <img src="{{ asset('images/raretes/' ~ moteur.rarete.rarete|replace({' ': '_'}) ~ '.webp') }}" alt="Rareté {{ moteur.rarete.rarete }}" class="h-12 w-12">
                            </div>
                            <div class="size-fit">
                                <img src="{{ asset('images/specialites/' ~ moteur.specialite.specialite|replace({' ': '_'}) ~ '.webp') }}" alt="Spécialité {{ moteur.specialite.specialite }}" class="h-12 w-12">
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>

    <!-- Section pour les derniers Bangboos sortis -->
    <div class="bg-black flex items-center justify-center p-8 my-8">
        <p class="text-center text-2xl text-white">Derniers Bangboos sortis</p>
    </div>

    <!-- Grid pour afficher les Bangboos -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full h-full">
        {% for bangboo in bangboos %}

            <a href="{{ path('app_bangboos_show', {'id': bangboo.id}) }}">
                <div class="NoElements flex w-full p-[2%]">
                    <div class="min-h-full w-1/4 flex items-center justify-center">
                        <img src="{{ asset('images/bangboos/' ~ bangboo.nomBangboo|replace({' ': '_'}) ~ '.webp') }}" alt="Icône de {{ bangboo.nomBangboo }}" class="w-36">
                    </div>

                    <div class="flex flex-col justify-between w-3/4">
                        <div class="flex items-center justify-center h-full w-full">
                            <p class="text-center text-xl text-white truncate">{{ bangboo.nomBangboo }}</p>
                        </div>

                        <div class="flex justify-around h-full w-full">
                            <div class="size-fit">
                                <img src="{{ asset('images/raretes/' ~ bangboo.rarete.rarete|replace({' ': '_'}) ~ '.webp') }}" alt="Rareté {{ bangboo.rarete.rarete }}" class="h-12 w-12">
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        {% endfor %}
    </div>

{% endblock %}