{% extends 'base.html.twig' %}

{% block title %}Moteurs index{% endblock %}

{% block body %}
    <div class="filtre"> </div>

        <div class="grid grid-cols-3 gap-8 w-full h-full">
        {% for moteur in moteurs %}
            <a href="{{ path('app_moteurs_show', {'id': moteur.id}) }}">
                <div class="NoElements flex w-full p-[2%]">
                    <div class="h-full w-1/4">
                        <img src="{{ asset('images/moteurs/' ~ moteur.nomMoteur|replace({' ': '_'}) ~ '.jpg') }}" class= "w-36">
                    </div>
                    <div class="flex flex-col justify-between w-3/4">
                        <div class="flex items-center justify-center h-full w-full">
                            <p class="text-center text-xl text-white truncate"> {{ moteur.nomMoteur }} </p>
                        </div>
                        <div class="flex justify-around h-full w-full">
                            <img src="{{ asset('images/raretes/' ~ moteur.rarete.rarete|replace({' ': '_'}) ~ '.jpg') }}" class= "h-12 w-12">
                            <img src="{{ asset('images/specialites/' ~ moteur.specialite.specialite|replace({' ': '_'}) ~ '.jpg') }}" class= "h-12 w-12">
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
