{% extends 'base.html.twig' %}

{% block title %}Moteurs index{% endblock %}

{% block body %}
    <div class="filtre"> </div>

    <div>
        {% for moteur in moteurs %}
            <a href="{{ path('app_moteurs_show', {'id': moteur.id}) }}">
                <div class="">
                    <img src="{{ asset('images/moteurs/' ~ moteur.nomMoteur|replace({' ': '_'}) ~ '.jpg') }}" class= "w-36">
                    <p> {{ moteur.nomMoteur }}
                    <div>
                        <img src="{{ asset('images/raretes/' ~ moteur.rarete.rarete|replace({' ': '_'}) ~ '.jpg') }}" class= "w-24">
                        <img src="{{ asset('images/specialites/' ~ moteur.specialite.specialite|replace({' ': '_'}) ~ '.jpg') }}" class= "w-24">
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
