{% extends 'base.html.twig' %}

{% block title %}Teams index{% endblock %}

{% block body %}
    <div class="bg-black flex items-center justify-center p-8 my-8">
        <p class="text-center text-2xl text-white"> Teams </p>
    </div>

    <div class="filtre"> </div>

    <a href="{{ path('app_teams_new') }}">
    <div class="bg-black flex items-center justify-center w-full p-8 my-8">
        <p class="text-center text-2xl text-white">Créer de nouvelles teams.</p>
    </div>
</a>

    <div class="">
        {% for team in teams %}
            <a href="{{ path('app_team_show', {'id': team.id}) }}">
                <div>
                    <div>
                        <img href="{{ team.teamMember.build.personnage.icon }}">
                        <img href="{{ team.teamMember.build.moteur.icon }}">
                        <img>set1
                        <img>set2
                        <img>set3
                    </div>
                    <div>
                        <img href="{{ team.teamMember.build.personnage.icon }}">
                        <img href="{{ team.teamMember.build.moteur.icon }}">
                        <img>set1
                        <img>set2
                        <img>set3
                    </div>
                    <div>
                        <img href="{{ team.teamMember.build.personnage.icon }}">
                        <img href="{{ team.teamMember.build.moteur.icon }}">
                        <img>set1
                        <img>set2
                        <img>set3
                    </div>
                    <div>
                        <p> {{team.nomTeam}} </p>
                        <img href="{{ team.bangboos.icon }}">
                    </div>
                </div>
            </a>
        {% else %}
        <p>Vous n'avez pas créé de team.</p>
        {% endfor %}    
        </div>


{% endblock %}
