{{ form_start(form, { 'attr': {'class': 'w-full text-white flex flex-col gap-8'}}) }}

    <!-- Ensemble et Emplacement -->
    <div class='w-full flex flex-col md:flex-row items-center justify-center gap-4'>
        <div class='bg-black w-full md:w-1/2 flex flex-col items-center justify-center gap-2 p-2'>
            <p>Ensemble</p>
            {{ form_row(form.ensemble, {'label': false}) }}
        </div>

        <div class='bg-black w-full md:w-1/2 flex flex-col items-center justify-center gap-2 p-2'>
            <p>Emplacement</p>
            {{ form_row(form.emplacement, {'label': false})}}
        </div>
    </div>

    <!-- Image -->
    <div class='bg-black w-full flex items-center justify-center gap-4 p-4'>
        <img id="set_img" src="{{ asset('images/set/Metal_mordant.webp') }}" class="w-24 h-24" alt="Image de l'ensemble sélectionné">
    </div>

    <!-- Stat principal -->
    <div class='bg-black w-full flex flex-col items-center justify-center gap-2 p-6'>
        <p>Main stat</p>
        {{ form_row(form.mainStat, {'label': false})}}
    </div>

    <!-- Sub stats 1 et 2 -->
    <div class="w-full flex flex-col md:flex-row items-center justify-center gap-4">
        <div class='bg-black w-full md:w-1/2 flex flex-col items-center justify-center gap-2 p-2'>
            <p>Sub stat 1</p>
            {{ form_row(form.subStat1, {'label': false})}}
            {{ form_row(form.valeurSubStat1, {'label': false, 'attr' : {'placeholder': 'Valeur sub stat 1'}})}}
        </div>

        <div class='bg-black w-full md:w-1/2 flex flex-col items-center justify-center gap-2 p-2'>
            <p>Sub stat 2</p>
            {{ form_row(form.subStat2, {'label': false})}}
            {{ form_row(form.valeurSubStat2, {'label': false, 'attr' : {'placeholder': 'Valeur sub stat 2'}})}}
        </div>
    </div>

    <!-- Sub stats 3 et 4 -->
    <div class="w-full flex flex-col md:flex-row items-center justify-center gap-4">
        <div class='bg-black w-full md:w-1/2 flex flex-col items-center justify-center gap-2 p-2'>
            <p>Sub stat 3</p>
            {{ form_row(form.subStat3, {'label': false})}}
            {{ form_row(form.valeurSubStat3, {'label': false, 'attr' : {'placeholder': 'Valeur sub stat 3'}})}}
        </div>

        <div class='bg-black w-full md:w-1/2 flex flex-col items-center justify-center gap-2 p-2'>
            <p>Sub stat 4</p>
            {{ form_row(form.subStat4, {'label': false})}}
            {{ form_row(form.valeurSubStat4, {'label': false, 'attr' : {'placeholder': 'Valeur sub stat 4'}})}}
        </div>
    </div>

    <!-- Bouton de sauvegarde -->
    <div class="bg-black w-full flex items-center justify-center p-8 my-4">
        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    </div>

{{ form_end(form) }}