{% extends 'base.html.twig' %}

{% block title %}Disques index{% endblock %}

{% block body %}

    <div class="bg-black flex items-center justify-center p-8 my-8">
        <h1 class="text-center text-2xl text-white"> Disques </h1>
    </div>

    <div class="filtre"> </div>

<a href="{{ path('app_disques_new') }}">
    <div class="bg-black flex items-center justify-center w-full p-8 my-8">
        <p class="text-center text-2xl text-white">Ajouter un disques.</p>
    </div>
</a>

        {% for disque in disques %}
            <tr>
                <td>{{ disque.emplacement }}</td>
                <td>{{ disque.mainStat }}</td>
                <td>{{ disque.subStat1 }}</td>
                <td>{{ disque.procSubStat1 }}</td>
                <td>{{ disque.subStat2 }}</td>
                <td>{{ disque.procSubStat2 }}</td>
                <td>{{ disque.subStat3 }}</td>
                <td>{{ disque.procSubStat3 }}</td>
                <td>{{ disque.subStat4 }}</td>
                <td>{{ disque.procSubStat4 }}</td>
                <td>
                    <a href="{{ path('app_disques_show', {'id': disque.id}) }}">show</a>
                    <a href="{{ path('app_disques_edit', {'id': disque.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
                <p>Vous n'avez ajouté aucun build.</p>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
