{{ form_start(form, { 'attr': {'class': 'flex flex-col gap-8 w-full text-white'}}) }}

    <!-- Section pour les champs Personnage et Moteur -->
    <div class='flex flex-col md:flex-row items-center justify-center gap-4 w-full'>
        <!-- Section Personnage -->
        <div class='bg-black flex flex-col items-center justify-center gap-2 w-full md:w-1/2 p-2'>
            <p>Personnage</p>
            {{ form_row(form.personnage, {'label': false}) }}
            <img id="personnage_img" src="{{ asset('images/profils/Anby_Demara.webp')}}" class="h-80" alt="Personnage">
        </div>

        <!-- Section Moteur -->
        <div class='bg-black flex flex-col items-center justify-center gap-2 w-full md:w-1/2 p-2'>
            <p>Moteur</p>
            {{ form_row(form.moteur, {'label': false})}}
            <img id="moteur_img" src="{{ asset('images/moteurs/[Lunaire]_Pleine_lune.webp')}}" class="h-40" alt="Moteur">
        </div>
    </div>

    <!-- Section pour les Disques -->
    <div class="flex flex-col md:flex-row items-center justify-center gap-4 w-full">
        <!-- Disques 1 à 3 -->
        <div class="flex flex-col items-center justify-center gap-4 w-full md:w-1/2">
            <div class='bg-black flex flex-col items-center justify-center gap-2 w-full p-2'>
                <p>Disque 1</p>
                {{ form_row(form.disque1, {'label': false})}}
            </div>
            <div class='bg-black flex flex-col items-center justify-center gap-2 w-full p-2'>
                <p>Disque 2</p>
                {{ form_row(form.disque2, {'label': false})}}
            </div>
            <div class='bg-black flex flex-col items-center justify-center gap-2 w-full p-2'>
                <p>Disque 3</p>
                {{ form_row(form.disque3, {'label': false})}}
            </div>
        </div>

        <!-- Disques 4 à 6 -->
        <div class="flex flex-col items-center justify-center gap-4 w-full md:w-1/2">
            <div class='bg-black flex flex-col items-center justify-center gap-2 w-full p-2'>
                <p>Disque 4</p>
                {{ form_row(form.disque4, {'label': false})}}
            </div>
            <div class='bg-black flex flex-col items-center justify-center gap-2 w-full p-2'>
                <p>Disque 5</p>
                {{ form_row(form.disque5, {'label': false})}}
            </div>
            <div class='bg-black flex flex-col items-center justify-center gap-2 w-full p-2'>
                <p>Disque 6</p>
                {{ form_row(form.disque6, {'label': false})}}
            </div>
        </div>
    </div>

    <!-- Bouton de soumission -->
    <div class="bg-black flex items-center justify-center w-full p-8 my-4">
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
