{% extends 'base.html.twig' %}

{% block title %}Builds index{% endblock %}

{% block body %}

    <div class="bg-black flex items-center justify-center p-8 my-8">
        <h1 class="text-center text-2xl text-white"> Builds </h1>
    </div>

    <div class="filtre"> </div>

<a href="{{ path('app_builds_new') }}">
    <div class="bg-black flex items-center justify-center w-full p-8 my-8">
        <p class="text-center text-2xl text-white">Créer de nouveaux builds.</p>
    </div>
</a>

        <div class="">
        {% for build in builds %}
            <a href="{{ path('app_build_show', {'id': build.id}) }}">
                <div class="{{ build.personnage.element.nomElement }}">
                    <div>
                        <img href="{{ build.personnage.icon }}">
                        <img href="{{ build.moteur.icon }}">
                    </div>
                    <div>
                        <img href="{{ build.disque1.icon }}">
                        <img href="1">
                        <img href="{{ build.disque2.icon }}">
                        <img href="2">
                        <img href="{{ build.disque3.icon }}">
                        <img href="3">
                        <img href="{{ build.disque4.icon }}">
                        <img href="4">
                        <img href="{{ build.disque5.icon }}">
                        <img href="5">
                        <img href="{{ build.disque6.icon }}">
                        <img href="6">
                    </div>
                    <div>
                        <p> effet set </p>
                        <p> effet set </p>
                        <p> effet set </p>
                    </div>
                </div>
            </a>
        {% else %}
                <p>Vous n'avez créé aucun build.</p>
        {% endfor %}
    </div>


{% endblock %}
