{% extends 'base.html.twig' %}

{% block title %}Builds{% endblock %}

{% block body %}

    <div class="flex flex-col md:flex-row justify-around items-start gap-2 p-4">
        <div class="flex flex-col justify-start items-center gap-2 w-1/1 md:w-1/2">
            <div class="bg-black flex items-center justify-center w-full p-4">
                <p class="text-white"> {{ build.personnage.nomPersonnage }} </p>
            </div>
            <img src="{{ asset('images/profils/' ~ build.personnage.nomPersonnage|replace({' ': '_'}) ~ '.jpg') }}" class="w-56">
        </div>
        <div class="flex flex-col justify-start items-center gap-2 w-1/1 md:w-1/2 h-1/1">
            <div class="bg-black flex items-center justify-center w-full p-4">
                <p class="text-white"> {{ build.moteur.nomMoteur }} </p>
            </div>
            <img src="{{ asset('images/moteurs/' ~ build.moteur.nomMoteur|replace({' ': '_'}) ~ '.jpg') }}" class="self-center w-36">
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full h-full">
    {% for i in 1..6 %}
        <a href="{{ path('app_disques_edit', {'id': attribute(build, 'disque' ~ i).id}) }}">
            <div class="NoElements flex w-full p-[2%]">
                <div class="relative flex items-center justify-center min-h-full w-1/4">
                    <img src="{{ asset('images/set/' ~ attribute(build, 'disque' ~ i).ensemble.nomSet|replace({' ': '_'}) ~ '.jpg') }}" class="w-24">
                    <img src="{{ asset('images/emplacement/' ~ attribute(build, 'disque' ~ i).emplacementString|replace({' ': '_'}) ~ '.webp') }}" class="absolute rounded-full top-[25%] right-0 w-[33%]">
                </div>

                <div class="flex flex-col justify-between w-3/4">
                    <div class="flex items-center justify-center h-full w-full">
                        <p class="text-center text-xl text-white truncate"> {{ attribute(build, 'disque' ~ i).mainStatString }} </p>
                    </div>

                    <div class="flex flex-col justify-around h-full w-full">
                            <div class="flex flex-col w-full">
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).subStatString1 }} : </p>
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).valeurSubStat1 }} </p>
                            </div>
                            <div class="flex flex-col w-full">
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).subStatString2 }} : </p>
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).valeurSubStat2 }} </p>
                            </div>
                            <div class="flex flex-col w-full">
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).subStatString3 }} : </p>
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).valeurSubStat3 }} </p>
                            </div>
                            <div class="flex flex-col w-full">
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).subStatString4 }} : </p>
                                <p class="text-center text-white truncate"> {{ attribute(build, 'disque' ~ i).valeurSubStat4 }} </p>
                            </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

    <a href="{{ path('app_builds_edit', {'id': build.id}) }}">edit</a>

    {{ include('builds/_delete_form.html.twig') }}
{% endblock %}
