<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Phaethon Relic{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo/Logo.webp') }}">
        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/build/app.css?v=1.0">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
    <header class="fixed w-full top-0 z-10">

{# Menu navigateur #}

        <div class="navBar hidden md:flex justify-between items-center w-full px-16 py-4 mb-8">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo/Logo.webp') }}" alt="logo" class="w-16">
            </a>
            <nav class="flex gap-[5%] size-fit">
                <a href="{{ path('app_personnages_index') }}" class="text-white">Personnages</a>
                <a href="{{ path('app_moteurs_index') }}" class="text-white">Moteurs</a>
                <a href="{{ path('app_bangboos_index') }}" class="text-white">Bangboos</a>
                <a href="{{ path('app_disques_index') }}" class="text-white">Disques</a>
                <a href="{{ path('app_builds_index') }}" class="text-white">Builds</a>
                {# <a href="{{ path('app_teams_index') }}" class="text-white">Team</a> #}
            </nav>
            {% if app.user %}
                <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="text-white">Compte</a>
            {% else %}
                <a href="{{ path('app_connexion_inscription')}}" class="text-white">Connexion Inscription</a>
            {% endif %}
        </div>

{# Menu burger #}

        <button id="burger-button" class="md:hidden px-1 fixed top-1 z-50">
            <img src="{{ asset('images/svg/Burger.svg') }}" id="burger-icon" class="w-6 h-6">
        </button>

        <div id="mobile-menu" class="navBar md:hidden hidden flex flex-col items-center justify-center gap-4 w-full py-2">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('images/logo/Logo.webp') }}" alt="logo" class="w-24">
            </a>
            <nav class="flex flex-col items-center justify-center gap-4 size-fit">
                <a href="{{ path('app_personnages_index') }}" class="text-white">Personnages</a>
                <a href="{{ path('app_moteurs_index') }}" class="text-white">Moteurs</a>
                <a href="{{ path('app_bangboos_index') }}" class="text-white">Bangboos</a>
                <a href="{{ path('app_disques_index') }}" class="text-white">Disques</a>
                <a href="{{ path('app_builds_index') }}" class="text-white">Builds</a>
                {# <a href="{{ path('app_teams_index') }}" class="text-white">Team</a> #}
            </nav>
            {% if app.user %}
                <a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="text-white">Compte</a>
            {% else %}
                <a href="{{ path('app_connexion_inscription')}}" class="text-white block py-2">Connexion Inscription</a>
            {% endif %}
        </div>

    </header>
    <main class="mb-[20px] md:mb-[130px] md:my-[130px] px-[10%]">
        {% block body %}{% endblock %}
    </main>
    <footer class="bg-black hidden md:block absolute bottom-0 w-full h-24 mt-8">
    </footer>
    </body>
</html>
