{% extends 'base.html.twig' %}

{% block title %}Raretes index{% endblock %}

{% block body %}
    <h1>Raretes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rarete</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rarete in raretes %}
            <tr>
                <td>{{ rarete.id }}</td>
                <td>{{ rarete.rarete }}</td>
                <td>{{ rarete.icon }}</td>
                <td>
                    <a href="{{ path('app_raretes_show', {'id': rarete.id}) }}">show</a>
                    <a href="{{ path('app_raretes_edit', {'id': rarete.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_raretes_new') }}">Create new</a>
{% endblock %}
